@import "../../../../scss/vars";

.mainDiv {
  background-color: #f6faff;
  display: flex;
  align-items: center;
  height: 50px;

  .title {
    margin-bottom: 0px;
    padding: 10px 15px;
    font-size: 14px;
    color: #919fb1;
    font-family:  $main-font;

    .keyIcon {
      font-weight: 900;
      background: #b5c5d9;
      padding: 10px;
      border-radius: 5px;
      color: white;
      margin-right: 8px;
    }
  }
}

.downloadSection {
    background: #ffffff;
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 10px 15px;

    p {
        margin-bottom: 0px;
        color: #949494;
        font-size: 16px;
        font-family: $main-font;
    }
    button {
        background: #3490ce;
        color: white;
        font-family: $main-font;

    }
}


@media only screen and (max-width: 576px) {
    .mainDiv {
        .title {
            font-size: 12px;
        }
    }
.downloadSection {
    p {
        font-size: 13px !important;
    }
    button {
        font-size: 12px !important;
    }
}

}