<div class="container-fluid googleAuthContainer">
    <div class="mainDiv">
        <div class="leftDiv">
            <div class="topDiv">
                <p>SUCCESS STORIES</p>
                <p>Check Out Our Cases Studies And Learn More About How We Help Brands Increase Their Digital Presence.</p>
            </div>
            <div class="bottomDiv">
                <div class="bottomInfo">
                  <p>100K</p>
                  <p>ASSETS</p>
                </div>
                <div class="bottomInfo">
                    <p>10K</p>
                    <p>USERS</p>
                  </div>
                  <div class="bottomInfo">
                      <p>500K</p>
                      <p>TRANSACTIONS</p>
                    </div>
             
            </div>
        </div>
        <div class="rightDiv">
            <p class="title">CONNECT FOR FREE</p>
            <p class="desc">Log in with your gmail account to connect quixxi platform
                and enjoy your FREE crypto transaction.</p>
             <a (click)="googleSigninForm()" class="btn btn-block"><img class="googleIcon" src="../../../assets/google-icon.png" alt="">Connect with Google</a>   
        </div>
    </div>
  </div>
<!-- <button routerLink='/layout/dashboard'>route</button> -->