/* You can add global styles to this file, and also import other style files */
@import './vars';

@font-face {
    font-family: 'Nunito Sans';
    src: url('../assets/Fonts/NunitoSans-Regular.woff2') format('woff2'),
        url('../assets/Fonts/NunitoSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html{ height:100%; }
body{ min-height:100%; padding:0; margin:0; position:relative; background: #eceff2;}

body::after{ content:''; display:block; height:50px; }
